# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data/hbci.db"
###< doctrine/doctrine-bundle ###

YNAB_TOKEN=1234567890123456789012345678901234567890123456789012345678901234

FHP_BANK_URL_1=https://brokerage-hbci.consorsbank.de/hbci
FHP_BANK_PORT_1=443
FHP_BANK_CODE_1=12345
FHP_ONLINE_BANKING_USERNAME_1=12345001
FHP_ONLINE_BANKING_PIN_1=passw
YNAB_BUDGET_1=12345678-90ab-cdef-0123-4567890abcde
YNAB_ACCOUNT_NAME_1="Konto 1"

FHP_BANK_URL_2=https://brokerage-hbci.consorsbank.de/hbci
FHP_BANK_PORT_2=443
FHP_BANK_CODE_2=12345
FHP_ONLINE_BANKING_USERNAME_2=12345002
FHP_ONLINE_BANKING_PIN_2=passw
YNAB_BUDGET_2=12345678-90ab-cdef-0123-4567890abcdf
YNAB_ACCOUNT_NAME_2="Konto 2"

PAYPAL_CLIENT_ID="1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefgh"
PAYPAL_CLIENT_SECRET="1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890_-abcdef"
YNAB_ACCOUNT_PAYPAL="Paypal"

BOON_USERNAME_1‚="+491701234567"
BOON_PASSWORD_1="0123456789ab"
YNAB_ACCOUNT_BOON_1="Boon"

BOON_USERNAME_2="+491601234567"
BOON_PASSWORD_2="abcdefghijkl"
YNAB_ACCOUNT_BOON_2="Boon2"

IFTTT_WEBHOOK_NAME=webhook_name
IFTTT_WEBHOOK_KEY=0123456789abcdefGHIJKL

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=7b25a6034e2d15000a510a393ae8bae9
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###
